body {
font-family: 'Roboto', sans-serif;
}

.navbar {
    background-color: #808283;
}

#cabecalho .nav .nav-link.active {
    background-color: #c0c2c9;
    color:  #808283;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-cardapio .nav-link.active:hover {
    color:  #c0c2c9;
}

.navbar-brand {
    font-family: 'Poppins', sans-serif;
}

.navbar-toggler {
    background-color: #3f494e;
}


.section-title {
    font-family: 'Poppins', sans-serif;
}

.section-title span {
    font-family: 'Poppins', sans-serif;
    color: #c0c2c9;
}

#sobre, 
#cardapio {
    background-color: #808283;
}

.text-colored {
    color:  #808283;
}

.nav-cardapio .nav-link.active, 
#contato button  {
    background-color: #404450;
    color: #fff;
}

.nav-cardapio .nav-link:hover {
    color: #808283;
}

.social-links li {
    list-style: none;
    display: inline;
}
.social-links a {
text-decoration: none;
}

.carousel-item img {
    height: 760px;
    width: 100%;
    object-fit: cover;
}

@media (max-width: 767px) {
    .carousel-item img {
        height: 280px;
    }

    
}